/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Lato:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Lato', 'Segoe UI', sans-serif;
  background: #fff8b0; 
  color: #000;
  text-align: center;
  overflow-x: hidden;
}


/* Navbar */
.navbar {
  background: #ffeb3b;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(10px, 2vw, 30px);

}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
  transition: 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;

}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #d4a762;
  left: 0;
  bottom: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
} 
/* .navbar ul li a:hover {
  background: #000;
  color: #ffeb3b;
  border-radius: 5px;
} */

.booking-btn {
  background: transparent;
  color: #000 !important;
  padding: 8px 15px;
  border: 2px solid #000;
  border-radius: 5px;
}

.booking-btn::after {
  display: none;
}



.hero {
  background: url("images/food7.jpeg") no-repeat center center/cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeSlide 2s ease forwards;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: rgb(246, 247, 248);
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 10px;
}


section {
  padding: 50px 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin: 20px;
}

.grid .item {
  background: #fff56b;
  padding: 5px;
  transition: transform 0.4s ease;
}

.grid .item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.4s ease;
}

.grid .item:hover img {
  transform: scale(1.05);
}

.grid .item p {
  margin-top: 5px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.description {
  background: url("images/3.jpg") no-repeat center center/cover;
  color: rgb(245, 245, 245);
  font-family: 'Playfair Display', serif;
  padding: 40px 20px;
  animation: fadeSlide 2s ease forwards;
}

.description h2 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
}

.description p {
  font-family: 'Playfair Display', serif;
  color: #f5f7f9;


}

/* Footer */
footer {
  background: #fff8b0;
  padding: 10px;
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}

/* Animations  */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes fadeSlide {
  from {
    opacity: 1;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 1;
  animation: fadeSlide 1.5s ease forwards;
  animation-delay: 0.3s;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .hero h1 {
    font-size: 2rem;
  }
}


