body {
  margin: 0;
}

.navbar {
  background: #ffeb3b;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(10px, 2vw, 30px);

}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
  transition: 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;

}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #d4a762;
  left: 0;
  bottom: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
}

.booking-btn {
  background: transparent;
  color: #000 !important;
  padding: 8px 15px;
  border: 2px solid #000;
  border-radius: 5px;
}

.booking-btn::after {
  display: none;
}


.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  z-index: 2;
  /* above the overlay */
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
  font-size: clamp(30px, 6vw, 80px);
  padding: clamp(5px, 1.5vw, 10px);
}

.photoBar {
  background-color: #ffeb3b;
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.mainAboout {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainAboout img {
  width: 800px;
}

.mainAbooutDetails {
  text-align: center;
  font-size: 20px;
  align-items: center;
  padding: 30px;
  background-color: #FEF31B;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 60px;
  margin: 0;
  background: url(images/lutetia-lux-4Zt87dYGpAE-unsplash\ 1.png)no-repeat center center/cover;
  flex-wrap: wrap;
  gap: 20px;

}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.feature-item p {
  color: #fff;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}


.map-container {
  width: 100%;
  height: 400px;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  text-align: center;
  padding: 15px;
  background: #ffeb3b;
  color: #000;
  margin-top: 20px;
  font-weight: bold;
  margin: 0;
}