body{
    margin: 0;
}

.navbar {
  background: #ffeb3b;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(10px, 2vw, 30px);

}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
  transition: 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;

}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #d4a762;
  left: 0;
  bottom: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
}

.booking-btn {
  background: transparent;
  color: #000 !important;
  padding: 8px 15px;
  border: 2px solid #000;
  border-radius: 5px;
}

.booking-btn::after {
  display: none;
}